/* ----- cartao ----- */
.cartao {
  font-family: 'SF Pro Text';
  height: 172px;
  margin-top: 15px;
  position: relative;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
  width: 280px;
}

.cartao-frente,
.cartao-verso {
  backface-visibility: hidden;
  border-radius: 10px;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, .4);
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  transition: transform .5s linear;
  width: 100%;
}

.cartao-frente {
  transform: perspective(600px) rotateY(0);
  z-index: 1;
}

.cartao-verso {
  transform: perspective(600px) rotateY(180deg) scale(.5);
}

.cartao.flip .cartao-verso {
  transform: perspective(600px) rotateY(0) scale(1);
}

.cartao.flip .cartao-frente {
  transform: perspective(600px) rotateY(-180deg);
}

.cartao-frente-numeros {
  font-size: 19px;
  left: 15px;
  letter-spacing: 2px;
  position: absolute;
  top: 80px;
  word-spacing: 5px;
}

.cartao-frente-numeros-interno {
  letter-spacing: 4px;
  word-spacing: 3px;
}

.cartao-frente-nome,
.cartao-frente-validade {
  bottom: 30px;
  font-size: 12px;
  line-height: 15px;
  position: absolute;
}

.cartao-frente-nome {
  left: 15px;
  text-transform: uppercase;
  word-break: break-all;
  width: 200px;
}

.cartao-frente-validade {
  right: 15px;
}

.cartao-verso-cvv {
  align-items: center;
  color: var(--preto);
  display: flex;
  font-size: 12px;
  letter-spacing: 3px;
  justify-content: center;
  left: 129px;
  height: 18px;
  position: absolute;
  top: 83px;
  width: 45px;
}

.cartao-verso-cvv-interno {
  margin-top: 4px;
}


/* ----- celular ----- */
@media (max-width:1099px) {
  .cartao-frente {
    background-image: url(../img/cartao-frente-celular.png);
  }

  .cartao-verso {
    background-image: url(../img/cartao-verso-celular.png);
  }
}



/* ----- computador ----- */
@media (min-width:1100px) {
  .cartao {
    height: 224px;
    width: 365px;
  }

  .cartao-frente {
    background-image: url(../img/cartao-frente-computador.png);
  }

  .cartao-verso {
    background-image: url(../img/cartao-verso-computador.png);
  }

  .cartao-frente-numeros {
    font-size: 24px;
    letter-spacing: 3px;
    left: 26px;
    top: 105px;
    word-spacing: 2px;
  }

  .cartao-frente-numeros-interno {
    letter-spacing: 5px;
    word-spacing: 3px;
  }

  .cartao-frente-nome,
  .cartao-frente-validade {
    bottom: 36px;
    font-size: 16px;
    line-height: 23px;
  }

  .cartao-frente-nome {
    left: 26px;
  }

  .cartao-frente-validade {
    right: 26px;
  }

  .cartao-verso-cvv {
    font-size: 15px;
    letter-spacing: 3px;
    left: 168px;
    height: 24px;
    top: 108px;
    width: 60px;
  }
}