/* ----- cartao ----- */
.cartao {
  border-radius: 10px;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, .4);
  font-family: 'SF Pro Text';
  height: 172px;
  margin-top: 15px;
  overflow: hidden;
  position: relative;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
  width: 280px;
}

.cartao-frente,
.cartao-verso {
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}



/* ----- cartao-frente ----- */
.cartao-frente-pattern-numeros,
.cartao-frente-numeros {
  line-height: 20px;
  position: absolute;
  top: 80px;
  word-spacing: 2px;
}

.cartao-frente-pattern-numeros {
  font-size: 19px;
  left: 16px;
  letter-spacing: 4px;
}

.cartao-frente-numeros {
  background-repeat: no-repeat;
  background-position: -15px -80px;
  font-size: 19px;
  left: 15px;
  letter-spacing: 2px;
}

.cartao-frente-nome,
.cartao-frente-validade {
  bottom: 30px;
  font-size: 12px;
  line-height: 15px;
  position: absolute;
}

.cartao-frente-nome {
  left: 15px;
  text-transform: uppercase;
  word-break: break-all;
  width: 200px;
}

.cartao-frente-validade {
  right: 15px;
}



/* ----- cartao-verso ----- */
.cartao-verso {
  
}



/* ----- celular ----- */
@media (max-width:1099px) {
  .cartao-frente,
  .cartao-frente-numeros {
    background-image: url(../img/cartao-celular.png);
  }
}



/* ----- computador ----- */
@media (min-width:1100px) {
  .cartao {
    height: 224px;
    width: 365px;
  }

  .cartao-frente,
  .cartao-frente-numeros {
    background-image: url(../img/cartao-computador.png);
  }

  .cartao-frente-pattern-numeros,
  .cartao-frente-numeros {
    font-size: 24px;
    line-height: 27px;
    top: 105px;
  }

  .cartao-frente-pattern-numeros {
    left: 30px;
    word-spacing: 7px;
  }
  .cartao-frente-numeros {
    background-position: -26px -105px;
    left: 26px;
    word-spacing: 5px;
  }

  .cartao-frente-nome,
  .cartao-frente-validade {
    bottom: 36px;
    font-size: 16px;
    line-height: 23px;
  }

  .cartao-frente-nome {
    left: 26px;
  }

  .cartao-frente-validade {
    right: 26px;
  }
}