/* ----- cartao ----- */
.cartao {
  border-radius: 10px;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, .4);
  font-family: 'SF Pro Text';
  height: 172px;
  margin-top: 15px;
  position: relative;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
  width: 280px;
}

.cartao-numeros {
  font-size: 19px;
  letter-spacing: 2px;
  line-height: 20px;
  margin-top: 75px;
  text-align: center;
  word-spacing: 1px;
}

.cartao-nome,
.cartao-validade {
  bottom: 32px;
  font-size: 12px;
  line-height: 15px;
  position: absolute;
}

.cartao-nome {
  left: 15px;
  text-transform: uppercase;
}

.cartao-validade {
  right: 15px;
}



/* ----- celular ----- */
@media (max-width:1199px) {
  .cartao {
    background: url(../img/cartao-computador.png);
  }
}



/* ----- computador ----- */
@media (min-width:1200px) {
  .cartao {
    background: url(../img/cartao-computador.png);
    height: 224px;
    margin-top: 30px;
    width: 365px;
  }

  .cartao-nome,
  .cartao-validade {
    bottom: 38px;
    font-size: 16px;
    line-height: 23px;
  }

  .cartao-nome{
    left: 26px;
  }

  .cartao-validade {
    right: 26px;
  }
}