/* ----- estrutura ----- */
body {
  background: #f7f7f7;
}



/* ----- cores ----- */
:root {
  --branco: #fff;
  --vermelho: #de4b4b;
  --cinza: #c9c9c9;
}



/* ----- estrutura ----- */
.principal {
  display: flex;
  font-family: Verdana;
  justify-content: center;
}

.pagamento {
  background: var(--branco);
  border: 1px solid #ccc;
  margin-top: 65px;
  width: 360px;
}

.info {
  background: var(--vermelho);
  color: var(--branco);
  padding: 55px 65px;
}

.info-titulo {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
}



/* ----- form ----- */
.form {
  font-size: 17px;
  line-height: 22px;
  margin: 45px 40px 40px;
}

.form-rotulo {
  border: 1px solid #00d;
  color: var(--cinza);
  display: block;
  font-size: 17px;
  line-height: 22px;
}

.form-botao {
  background: var(--vermelho);
  border: none;
  border-radius: 10px;
  color: var(--branco);
  cursor: pointer;
  font:inherit;
  letter-spacing:.1px;
  margin-top: 45px;
  padding: 15px 0;
  text-transform: uppercase;
  width: 100%;
}