/* ----- cores ----- */
:root {
  --cinza: #c9c9c9;
  --cinzaClaro: #efefef;
  --cinzaFundo: #f7f7f7;
  --branco: #fff;
  --vermelho: #de4b4b;
}



/* ----- estrutura ----- */
html, body {
  min-height: 100vh;
}

.container {
  background: var(--cinzaFundo);
  min-height:100vh;
}

.principal {
  display: flex;
  justify-content: center;
}

.pagamento {
  background: var(--branco);
  border: 1px solid var(--cinzaClaro);
  margin-top: 65px;
  width: 360px;
}

.info {
  background: var(--vermelho);
  color: var(--branco);
  padding: 55px 65px;
}

.info-titulo {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
}