/* ----- etapas ----- */
.etapas {
  display: none;
}



/* ----- computador ----- */
@media (min-width:1100px) {
  .etapas {
    color: var(--vermelho);
    display: flex;
    justify-content: flex-end;
  }

  .etapas-grupo {
    align-items: center;
    display: flex;
    position: relative;
  }

  .etapas-grupo:not(:last-child) {
    margin-right: 16px;
  }

  .etapas-grupo-numero {
    border: 1px solid;
    border-radius: 50%;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    height: 22px;
    margin-right: 7px;
    position: relative;
    text-align: center;
    width: 22px;
  }

  .etapas-grupo-numero.ativo::after {
    background: var(--vermelho) url(../img/etapas-grupo-numero-ativo.svg) no-repeat center / 13px auto;
    border-radius: 50%;
    content:'';
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .etapas-grupo-texto {
    font-size: 13px;
  }

  .etapas-grupo:not(:last-of-type) .etapas-grupo-texto {
    margin-right: 15px;
  }

  .etapas-grupo-vetor {
    fill: var(--vermelho);
    height: 20px;
    width: 20px;
  }
}