/* ----- form ----- */
.form {
  font-size: 17px;
  line-height: 22px;
  margin: 45px 40px 40px;
}

.form-linha {
  position:relative;
}

.form-linha-validade-e-cvv {
  display: flex;
  justify-content: space-between;
}

.form-grupo-validade,
.form-grupo-cvv {
  width: calc(50% - 5px);
}

.form-linha:not(:first-of-type) {
  margin-top: 40px;
}

.form-campo {
  border-bottom: 1px solid var(--cinza);
  color: var(--preto);
  display: block;
  margin-top: 3px;
  padding: 3px 0;
  width: 100%;
}

.form-campo-cvv-info {
  background: var(--cinza);
  border-radius: 50%;
  color: var(--branco);
  display: inline-block;
  font-size: 12px;
  height: 14px;
  line-height: 14px;
  margin-left: 4px;
  text-align:center;
  width: 14px;
}

.form-selecao {
  background: transparent;
  border: 1px solid #000;
  position: relative;
  width: 100%;
  z-index: 1;
}

.form-campo:focus + .form-rotulo,
.form-campo:valid + .form-rotulo,
.form-selecao:focus + .form-rotulo,
.form-selecao:valid + .form-rotulo {
  bottom: 24px;
  font-size: 13px;
}

.form-rotulo {
  bottom: 4px;
  color: var(--cinza);
  display: block;
  font-size: 17px;
  line-height: 22px;
  position: absolute;
  transition: bottom .2s;
  width: 100%;
}

.form-rotulo-cvv {
  align-items: center;
  display: flex;
  width: inherit;
}

.form-campo-cvv-info {
  margin-left: 10px;
}


.form-botao {
  background: var(--vermelho);
  border: none;
  border-radius: 10px;
  color: var(--branco);
  cursor: pointer;
  font:inherit;
  -webkit-font-smoothing: initial;
  letter-spacing:.1px;
  margin-top: 45px;
  padding: 15px 0;
  text-transform: uppercase;
  width: 100%;
}