/* ----- form ----- */
.form {
  font-size: 17px;
  line-height: 22px;
  margin: 45px 40px 40px;
}

.form-linha {
  position:relative;
}

.form-validade-e-cvv-linha {
  display: flex;
  justify-content: space-between;
}

.form-validade-grupo,
.form-cvv-grupo{
  width: calc(50% - 5px);
}

.form-linha:not(:first-of-type) {
  margin-top: 40px;
}

.form-campo,
.form-selecao {
  border-bottom: 1px solid var(--cinza);
}

.form-campo {
  color: var(--preto);
  display: block;
  margin-top: 3px;
  padding: 3px 0;
  width: 100%;
}

.form-selecao {
  appearance: none;
  -webkit-appearance: none;
  background: transparent;
  cursor: pointer;
  padding-bottom: 3px;
  position: relative;
  width: 100%;
  z-index: 1;
}

.form-selecao-vetor {
  fill: var(--vermelho);
  position: absolute;
  right: -6px;
  top: -2px;
  width: 30px;
}

.form-rotulo {
  bottom: 4px;
  color: var(--cinza);
  cursor: pointer;
  display: block;
  position: absolute;
  transition: bottom .2s;
  width: 100%;
}

.form-botao {
  background: var(--vermelho);
  border: none;
  border-radius: 10px;
  color: var(--branco);
  cursor: pointer;
  font-family: 'SF Pro Text';
  letter-spacing:.1px;
  margin-top: 45px;
  padding: 15px 0;
  text-transform: uppercase;
  width: 100%;
  -webkit-font-smoothing: initial;
}

.form-cvv-rotulo {
  align-items: center;
  display: flex;
  width: inherit;
}

.form-cvv-info-campo {
  margin-left: 10px;
}

.form-cvv-texto {
  margin-right: 10px;
}

.form-cvv-vetor {
  bottom: 1px;
  fill: var(--cinza);
  height: 15px;
  position: relative;
  width: 15px;
}

.form-campo:focus + .form-rotulo,
.form-campo:valid + .form-rotulo,
.form-selecao:active + .form-rotulo,
.form-selecao:valid + .form-rotulo {
  bottom: 24px;
  font-size: 13px;
}