/* ----- steps ----- */
.steps {
  display: none;
}



/* ----- computer ----- */
@media (min-width:1100px) {
  .steps {
    color: var(--vermelho);
    display: flex;
    justify-content: flex-end;
  }

  .steps-group {
    align-items: center;
    display: flex;
    position: relative;
  }

  .steps-group:not(:last-child) {
    margin-right: 18px;
  }

  .steps-group-number {
    border: 1px solid;
    border-radius: 50%;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    height: 22px;
    margin-right: 7px;
    position: relative;
    text-align: center;
    width: 22px;
  }

  .steps-group-number.ativo::after {
    background: var(--vermelho) url(../img/steps-group-number-ativo.svg) no-repeat center / 13px auto;
    border-radius: 50%;
    content: '';
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .steps-group-text {
    font-size: 13px;
  }

  .steps-group:not(:last-of-type) .steps-group-text {
    margin-right: 17px;
  }

  .steps-group-vector {
    fill: var(--vermelho);
    height: 20px;
    width: 20px;
  }
}